.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {

  
  display: -webkit-flex; /* Safari */
  display: flex;
}

#main div{ 
	-webkit-flex: 1;  /* Safari 6.1+ */
 	-ms-flex: 1;  /* IE 10 */  
 	flex: 1;
 }

header {
  align-items: center;
  widows: 100%;
  height: 60px;
  /* border-width: 2px;
  border-style: solid;
  border-color: #496e9c; */
  background-color: #496e9c ;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

section {
  display: -webkit-flex;
  display: flex;
  } 


.background {
  padding-top: 20px;
  padding-bottom: 10px;
  filter: drop-shadow(0 0 0.75rem black);
  width: 85%;
  height: 647px;
  left: 119px;
  top: 133px;
  opacity: 50%;
  /* filter: blur(1px); */
}

.topimg {
  
  align-items: center;
  height: 59px;
  width: 217px;
  left: 50%;
  top: 10%;
  
}

/* .buttonimg {
  height: 135px;
  width: 203px;
  left: 1316px;
  top: 338px;
} */

button {
  background: transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.startbutton {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.75rem black);
}

.Game {
  padding: 50px;
}
#description {
  font-size: 13px;
  font-weight: bold;
  width: 300px;
  height: 340px;
  top: 30%;
  left: 15%;
  background-color: white;
  /* border-style: solid; */
  /* border-color: rgba(220,220,220, 1); */
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  filter: drop-shadow(0 0 0.75rem black); 

}

#login {
  width: 300px;
  height: 340px;
  top: 30%;
  right: 15%;
  background-color: white;
  position: absolute;
  filter: drop-shadow(0 0 0.75rem black);

}

#loginTip {
  width: 86%;
  border-bottom: 1px solid #ee7700;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#loginTip #p1 {

    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A ;
    text-align: center; 
}

#login1 {
  width: 86%;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

#login1 img {
  position: absolute;
  top: 12px;
  left: 8px;
}

#login1 input {
  width: 100%;
  height: 42px;
  text-indent: 2.5rem;	
}

#logb {
  width: 86%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 37%;
  align-items: center;
}

.loginbutton {
  background-color: #ee7700 ;
   color: #fff; 
   width: 30%;
}
